<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Distribution" content="Global" />
        <meta name="Rating" content="Mature" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ffffff">
        <link href="{{ asset('bundles/atmusermanager/css/css.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('bundles/atmusermanager/fonts/lato.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmusermanager/fonts/quicksand.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/atmusermanager/fonts/leaguespartan.css') }}" type="text/css"/>
        <link href="{{ asset('bundles/atmusermanager/css/jquery-ui.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/atmusermanager/css/jquery-ui.theme.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/atmusermanager/css/modal.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/atmusermanager/css/modal-theme.css') }}" rel="stylesheet" type="text/css">
        {% block managerJquery %}
        <script type="text/javascript" src="{{ asset('bundles/atmusermanager/js/jquery-1112.js') }}"></script>
        {% endblock managerJquery %}
        <script type="text/javascript" src="{{ asset('bundles/atmusermanager/js/jquery-ui.min.1121.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('bundles/atmusermanager/css/font-awesome/css/font-awesome.css') }}">
        {% block managerStylesheets %}{% endblock managerStylesheets %}
        {% block managerHeadingJS %}{% endblock managerHeadingJS %}
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    </head>
    <body>
        <div class="inner">
            <h1>User Admin</h1>
            <div class="wide manager">
                {#<div class="quarter">
                    <ul class="manager_menu">
                        <li>
                            <a href="" id="btnWrite" class="but new">
                                <i class="fa fa-envelope"></i>Users
                            </a>
                        </li>
                        <li>
                            <a href="" id="btnWrite" class="but new">
                                <i class="fa fa-envelope"></i>Create User
                            </a>
                        </li>
                    </ul>
                </div>#}
                <div class="wide">
                    {% block managerContent %}{% endblock managerContent %}
                </div>
            </div>
        </div>
        {% block managerPopups %}{% endblock managerPopups %}
        {% block managerJavascripts  %}{% endblock managerJavascripts %}
    </body>
</html>