<form action="{{ path('edit_user',{ 'userId': user.id }) }}" method="post" class="frmEdit">
    <fieldset>
        <label style="display: block;width: 100%;font-size: 18px;font-weight: bold;">{{ user.username }}</label>
    </fieldset>
    <fieldset>
        <label style="display: block;width: 100%;font-size: 18px;font-weight: bold;">{{ user.email }}</label>
    </fieldset>
    <fieldset>
            <label for="atm_user_management_bundle_enabled" style="display: inline-block;text-align: left;width: 50%;">
                {{ form_widget(form.enabled) }}
                Enabled
            </label>
            <label for="atm_user_management_bundle_locked">
                {{ form_widget(form.locked) }}
                Locked
            </label>
    </fieldset>
    <fieldset>
        <label for="atm_user_management_bundle_expired">
            {{ form_widget(form.expired) }}
            Expired
        </label>
        {{ form_widget(form.expiresAt,{ 'attr': { 'placeholder': 'Expires At', 'style':'width:64%','autocomplete':'off' } }) }}
    </fieldset>
    <fieldset>
        {{ form_widget(form.userManagerFields.disabled_description,{ 'attr': { 'placeholder': 'Disabled description' } }) }}
    </fieldset>
    <fieldset>
        {{ form_widget(form.userManagerFields.disabled_at,{ 'attr': { 'placeholder': 'Disabled At','autocomplete':'off' } }) }}
    </fieldset>
    <input type="hidden" name="searchWord" value="{{ searchWord }}">
    <input style="display:none" type="submit" id="btnSubmit" >
    <a onclick="$('#btnSubmit').click();" class="but blue">Save</a>
    {{ form_rest(form) }}
</form>

<script src="{{ asset('bundles/atmusermanager/js/jquery-ui.min.1121.js') }}"></script>
<script>

    $("#atm_user_management_bundle_expiresAt,#atm_user_management_bundle_userManagerFields_disabled_at").datepicker({
        dateFormat: 'dd-mm-yy'
    });

    {% if not user.expired %}
        $('#atm_user_management_bundle_expiresAt').attr('disabled','disabled');
    {% endif %}

    {% if user.enabled %}
        $('#atm_user_management_bundle_userManagerFields_disabled_description,#atm_user_management_bundle_userManagerFields_disabled_at').attr('disabled','disabled');
    {% endif %}

    $('#atm_user_management_bundle_enabled').change(function(){
        if($(this).is(':checked')){
            $('#atm_user_management_bundle_userManagerFields_disabled_description,#atm_user_management_bundle_userManagerFields_disabled_at').attr('disabled','disabled');
        }else{
            $('#atm_user_management_bundle_userManagerFields_disabled_description,#atm_user_management_bundle_userManagerFields_disabled_at').removeAttr('disabled');
            $("#atm_user_management_bundle_userManagerFields_disabled_at").datepicker({dateFormat: 'dd-mm-yy'});
        }
    });

    $('#atm_user_management_bundle_expired').change(function(){
        if($(this).is(':checked')){
            $('#atm_user_management_bundle_expiresAt').removeAttr('disabled');
            $("#atm_user_management_bundle_expiresAt").datepicker({dateFormat: 'dd-mm-yy'});
        }else{
            $('#atm_user_management_bundle_expiresAt').attr('disabled','disabled');
        }
    });
</script>