{% extends 'ATMUserManagerBundle:Manager:base.html.twig' %}

{% block managerStylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmusermanager/plugins/bootstrap/modal/modal.css') }}">
{% endblock managerStylesheets %}

{% block managerContent %}
    <div class="searchContainer">
        <input type="text" class="iText" id="txSearch" placeholder="Username or email" value="{{ searchWord is not null ? searchWord }}">
        <a class="but" id="btnSearchUser" style="float:right">Search</a>
    </div>
    <div class="searchResults"></div>
{% endblock managerContent %}

{% block managerPopups %}
    <div class="modal fade" id="popImageProfileCrop" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="title" style="width: 100%;text-align: center;font-size: 25px;font-family: QuicksandBold, Arial, sans-serif;">Edit User</h2>
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </a>
                </div>
                <div class="modal-body noflex">
                    <div id="editUserContent"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock managerPopups %}

{% block managerJavascripts %}
    <script src="{{ asset('bundles/atmusermanager/plugins/bootstrap/modal/modal.js') }}"></script>
    <script src="{{ asset('bundles/atmusermanager/plugins/bootstrap/modal/bootstrap.bundle.js') }}"></script>
    <script>
        $(document).on('keypress',function(e) {
            if(e.which == 13) {
                var searchText = $('#txSearch').val();
                searchUsers(searchText);
            }
        });

        $('#btnSearchUser').click(function(e){
            e.preventDefault();
            var searchText = $('#txSearch').val();

            searchUsers(searchText);
        });

        {% if searchWord is not null %}
            $('#btnSearchUser').trigger('click');
        {% endif %}

        function searchUsers(searchText){
            $('html,body').css('cursor','progress');
            $.ajax({
                url: Routing.generate('search_users',{ 'searchText': searchText }),
                type: 'post',
                dataType: 'html',
                success: function(data){
                    $('html,body').css('cursor','default');
                    $('.searchResults').html(data);
                }
            });
        }

        $('.searchResults').on('click','.fa-edit',function(){
            var userId = $(this).attr('data-user-id');
            var searchText = $('#txSearch').val();

            $.ajax({
                url: Routing.generate('edit_user',{ 'userId': userId,'searchWord':searchText }),
                type: 'post',
                dataType: 'html',
                success: function (data) {
                    $('#editUserContent').html(data);
                    $('#popImageProfileCrop').modal('show');
                }
            });
        });
    </script>
{% endblock managerJavascripts %}