<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Join date</th>
            <th>Enabled</th>
            <th>Locked</th>
            <th>Expired</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for user in users %}
        <tr>
            <td>
                {{ user.username }}
            </td>
            <td>
                {{ user.email }}
            </td>
            <td>
                {{ user.joindate | date('d-m-Y H:i:s') }}
            </td>
            <td>{{ user.enabled ? '<i class="fa fa-check"></i>':'<i class="fa fa-times"></i>' }}</td>
            <td>{{ user.locked ? '<i class="fa fa-check"></i>':'<i class="fa fa-times"></i>' }}</td>
            <td>{{ user.expired ? '<i class="fa fa-check"></i>':'<i class="fa fa-times"></i>' }}</td>
            <td>
                <i class="fa fa-edit" data-user-id="{{ user.id }}"></i>
            </td>
        </tr>
{% else %}
        <tr>
            <td style="text-align:center">No results to show</td>
        </tr>
{% endfor %}
    </tbody>
</table>