* {margin:0;padding:0}
html,body {height:100%}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none}
body {font: 15px/24px Quicksand, sans-serif;color: #000;background: #f9f6f6;cursor:default;text-align:center}
body.newTour{font: 15px/24px "Quicksand", sans-serif}
body.white{background:#FFF}
table {border-collapse:separate;border-spacing:0}
caption,th,td {text-align:left;font-weight:normal}
table,td,th {vertical-align:middle}
blockquote::before,blockquote::after,q::before,q::after {content:""}
blockquote,q {quotes:"" ""}
a img, button {outline:none;border:0;background:none}
a {outline:0 none;text-decoration: none;color: #000}
a *{cursor: pointer}
a:focus,a:hover {text-decoration:none;outline:0 none;cursor:pointer}
.clear {clear:both}
.over {overflow:hidden;height:0}
ul,li,ol,li,b,img,p,a,h1,h2,h3,h4,h5 {float:left;display:inline-block;text-align: left}
input,textarea {display:inline-block;text-align: left}
[data-sr] {visibility:hidden}
.fa-heart, .red {color: #ff558f}
*, *::after, *::before, *:hover {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    text-indent: 1px;
}
.sorting select::-ms-expand {display: none}
.sorting select {-webkit-appearance: none;-moz-appearance: none;text-overflow: '';text-indent: 1px}
.small{font-size:0.8rem !important}
.right{float:right}
.left{float:left}
.center{text-align:center}
.x2{font-size:1.3rem}
.x3{font-size:2.5rem}
.flex{display:flex;align-items: center;justify-content: space-between}
.b{font-family: QuicksandBold, Arial, sans-serif}
.latobold{font-family:LatoBold, Arial, sans-serif}

.content            { width: 100%; max-width: 1300px; min-height: 100%}
.wide 	            { width: 100%}
.narrow	            { width: 95%; max-width:1000px; margin:0 auto}
.half               { width: 50%;float:left}
.threequarter       {width: 75%;float: left}
.quarter            {width: 25%;float: left}
.third				{width:33.33%;float:left}
.twothird			{width:66.66%;float:left}
.smallfifth         {width:20%;float:left}
.longfifth          {width:80%;float:left}
.fifth				{width:20%;float:left}

.extramargin1		{margin:10px 0;float:left}
.extramargin2		{margin: 40px 0;float:left}

@media all and (max-width: 800px)   { .half{width: 85%;margin: 0 7.5%}}
@media all and (max-width: 1000px)  { .narrow    { width: 96%; margin-left: 2%; margin-right: 2%; }}
@media all and ( min-width: 1300px) { .content   { float: none !important; }}

a.but, input.but{background: #e8e8e8;padding: 6px 10px;border-radius: 7px;color: #000;border-bottom: 1px solid rgba(0, 0, 0, 0.2);font-size: 1rem;cursor: pointer}
a.but.blue, input.but.blue{background:#2196f3;color:#FFF}
input.but.red, a.but.red{background:#ff4081!important;color:#FFF}
a.but.following{border:2px solid #ff558f;background:none;color:#ff558f;font-size:13px}
a.but.following:hover{background:#ff558f;color:#FFF}
.but.dark{background:#777 !important}
.but.dark:hover{background:#777676}
a.but.inactive{background: #a9a9a9;border: 0;color: #000}
.threequarter       {width: 75%;float: left}
.quarter            {width: 25%;float: left}
h1.block_title.inbox{margin:0 0 5px;padding: 5px 12px 10px}
.inner {float:none;width:100%;margin: 90px auto 0;position:relative;display:inline-block;padding: 0;z-index: 1;max-width: 1200px;}
.inner h1:first-of-type{width:100%;text-align: center;font-size: 25px;margin-bottom: 50px;}
.manager{float:left;margin:0 0 50px}
.manager_menu, .manager_menu li{float:left;width:100%}
.manager_menu li .but{background:none;padding-left:0;border: 0;font-size: 1rem}
.manager_menu li .but.active{font-family: QuicksandBold, Arial, sans-serif;}
.manager_menu li .but.new{background:#2196f3;color:#FFF;padding-left:10px;margin-bottom: 7px;border-bottom: 1px solid rgba(0, 0, 0, 0.2)}
.manager_menu li .but.new i{margin-right:7px}
.manager_menu li .but.new:hover{text-decoration:none;background:#5eb4f9}
.buts-area{margin:0 0 10px;float:left}
.buts-area a{margin:0 8px 0 0;font-size: 1rem}
.buts-area a.delete{background:#ff4081;color:#FFF}

.searchContainer{width: 40%;margin: 0 auto;}
.searchContainer .iText,.frmEdit input[type=text],.frmEdit input[type=email]{font: 16px/16px Quicksand, Helvetica, Arial, sans-serif;padding: 10px 15px;border: 1px solid #eaeaea;color: #333;}
.searchContainer #btnSearchUser{}

.searchResults{}
.searchResults table{width:100%;margin-top:30px}
.searchResults table tr td{padding:10px}
.searchResults table tr:nth-child(odd){background:#fff}
.searchResults table tr:nth-child(even){background: #e6e6e6;}
.searchResults table tr th{text-align: center;font-weight: bold;font-size: 16px;padding: 10px;border-bottom: 2px solid #000;}
.searchResults table tr td{text-align: center}
.searchResults table tr td .fa-check{color: #2cbb8e;}
.searchResults table tr td .fa-times{color: #fb0000;}


.frmEdit fieldset{margin-bottom: 20px;}
.frmEdit textarea{font: 16px/16px Quicksand, Helvetica, Arial, sans-serif;padding: 10px 15px;border: 1px solid #eaeaea;color: #333;width:80%;min-height:250px;resize:vertical}
.frmEdit fieldset input[type=text],.frmEdit fieldset input[type=email]{width: 80%;}

